-- The rules file for ProxyBase. Here some instructions
-- 
-- Lines starting with -- will be ignored
-- Rule lines have up to four columns separated by commas:
-- Column 1: Regular expression to activate the rule
-- Column 2: Redirected PORT
-- Column 3 (optional): Redirected Host. If not informed, the local host will be used
-- Column 4 (optional): new url. If not informed, the incoming url will be used as it is.
-- SIMPLE EXAMPLES:
--
-- /myapp/*, 8080					-- Http requests starting with /myapp/ will be redirected to 8080 of localhost
-- /myotherapp/*, 8081, 10.11.12.13 -- Http requests starting with /myotherapp/ will be redirected to 8081 of 10.11.12.13
--
-- Dynamic ports: it is possible to determine the port based on the incoming url:
-- /yourapp/{PORT}/{ACTION1}/{ACTION2}, {PORT}, , /myapp/{ACTION2}/{ACTION1}
--
-- NOTES: 
-- 1.- if more than one rule can be applied, the first one starting from the top will be fired
-- 2.- The number of concurrent petitions that can be served is limited to the number of threads that your OS can handle. 
--     If you have more than 10K concurrent connections, be aware of the c10K problem, which we have not dealt with here. 				

-- Static rules
